@namespace FastyBox.Web.Shared.Components

<td class="@GetCellClasses()">
    @ChildContent
</td>

@code {
    [Parameter]
    public bool Align { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string GetCellClasses()
    {
        var classes = "px-6 py-4 whitespace-nowrap text-sm ";

        if (Align)
        {
            classes += "text-right ";
        }
        else
        {
            classes += "text-gray-800 dark:text-gray-200 ";
        }

        if (!string.IsNullOrEmpty(Class))
        {
            classes += $"{Class} ";
        }

        return classes.TrimEnd();
    }
}